* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.child_div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.child_div > p {
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  background-color: purple;
  color: white;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
